<div class="ui-g">
	<div class="ui-g-12 ui-md-4">
		<h4 class="first">Actions</h4>
		<p-button (onClick)="startStop()" icon="fa fa-fw fa-check" label="Stop"></p-button>
		<p-button (onClick)="switch()" icon="fa fa-fw fa-check" label="Switch device"></p-button>
	</div>
	<div class="ui-g-12 ui-md-8">
		<div class="ui-g ui-fluid">
			<h4 class="first">Input: {{device}}</h4>
		</div>
		<div class="ui-g ui-fluid">
			<div class="ui-inputgroup">
				<span class="ui-inputgroup-addon">Min Rate</span>
				<p-spinner [(ngModel)]="minVal" [step]="0.01"></p-spinner>
			</div>
			<div class="ui-inputgroup">
				<span class="ui-inputgroup-addon">Max Rate</span>
				<p-spinner [(ngModel)]="maxVal" [step]="0.01"></p-spinner>
			</div>
			<div class="ui-inputgroup">
				<span class="ui-inputgroup-addon">Point Numbers</span>
				<p-spinner [(ngModel)]="numberPoint" [step]="50" (onChange)="chartConfiguration()"></p-spinner>
			</div>
		</div>
	</div>
</div>
<p-chart #chart type="line" [data]="data" [responsive]="true" [options]="options"></p-chart>
